In [21]:
class City:
    def __init__(self, n, x, y):
        self.name = n
        self.x = x
        self.y = y
        
    def __repr__(self):
        return 'City: ' + str(self.name) + ' ' + str(self.x) + ' ' + str(self.y) + '\n'

In [22]:
import math
import random
import numpy as np
import pandas as pd
import time
import matplotlib.pyplot as plt
%matplotlib qt

In [23]:
def gen_dist_matrix(data):
    n = len(data)
    mat = [[0]*n for i in range(n)]
    for i,point in enumerate(data): # point -> city
        for j in range(i+1, n):
            p2 = data[j]
            mat[i][j] = math.dist([point.x , point.y], [p2.x, p2.y])
            mat[j][i] = math.dist([point.x , point.y], [p2.x, p2.y])
    return mat

In [24]:
def rand_start_point(n):
    return int(random.random()*n)

In [25]:
def choose_nearest_point(cur, data, mat, vis):
    min_dist = np.inf
    min_i = -1
    for i in range(len(vis)):
        if mat[cur][i] <  min_dist and vis[i] != 1:
            min_dist = mat[cur][i]
            min_i = i
    return min_i, min_dist

In [ ]:
# # to take input from the GUI
# plt.plot(0,0)
# d = plt.ginput(10)
# data = [City(c,p[0],p[1]) for c,p in enumerate(d)]
# print(data)

In [26]:
# raw = pd.read_csv('Data Set.csv')
raw = pd.read_csv('15-Points.csv')
raw

               x             y  City
0   5.500000e-08  9.860000e-09     1
1  -2.887330e+01 -7.980000e-08     2
2  -7.929160e+01 -2.140330e+01     3
3  -1.465770e+01 -4.338960e+01     4
4  -6.474730e+01  2.189820e+01     5
5  -2.905850e+01 -4.321670e+01     6
6  -7.207850e+01  1.815810e-01     7
7  -3.603660e+01 -2.161350e+01     8
8  -5.048080e+01  7.374470e+00     9
9  -5.058590e+01 -2.158820e+01    10
10 -1.358190e-01 -2.872930e+01    11
11 -6.508660e+01 -3.606250e+01    12
12 -2.149830e+01  7.319420e+00    13
13 -5.756870e+01 -4.325060e+01    14
14 -4.307000e+01  1.455480e+01    15

In [27]:
data = [City(c,x,y) for c,x,y in zip(raw['City'], raw['x'], raw['y'])]
print(data[0])

City: 1 5.5e-08 9.86e-09

In [28]:
n = len(data)
#visited matrix
vis = [0] * n

# Generate distance matrix
dist_mat = gen_dist_matrix(data)

# intialize output
res = []
total_cost = 0

# random choose first point 'city' in the soluion
cur = rand_start_point(n)

# append first element
res.append(data[cur])
vis[cur] = 1
while sum(vis) < n:
    i, dist = choose_nearest_point(cur, data, dist_mat, vis)
    res.append(data[i])
    vis[i] = 1
    total_cost += dist
    
    cur = i

# add distance of traveling from the last city to the first one
total_cost += dist_mat[0][cur]

# print('Cities', res)
print('total cost = ', total_cost)

total cost =  284.3810904080332

In [29]:
from matplotlib.animation import FuncAnimation

In [30]:
x = []
y = []
for s in res:
    x.append(s.x)
    y.append(s.y)
x.append(res[0].x)
y.append(res[0].y)

fig, ax = plt.subplots()

def animate(i):
    ax.clear()
    ax.plot(x[:i+1], y[:i+1], marker = 'o')

    plt.ylim(-50, 30)
    plt.xlim(-90, 10)

ani = FuncAnimation(fig, animate, frames=20, interval=300, repeat=False)
plt.show()